#mainFrame {
    margin: auto;
    width: 80%;
    padding: 10px; 
}

h1 {
    text-align: center;
}

/* @keyframes hide {
    0% {
        opacity: 1;
        padding-bottom: 10px; 
        height: 75px;
        margin-bottom: 10px;
    }
    50% {
        opacity: 0;
        padding-bottom: 10px; 
        height: 75px;
        margin-bottom: 10px;
    }
    100% {
        opacity: 0;
        padding-bottom: 0px; 
        height: 0px;
        margin-bottom: 0px;
    }
} */

.task {
    margin: auto;
    width: 60%;
    padding: 10px;
    padding-bottom: 10px; 
    height: 75px;
    margin-bottom: 10px;
    border-radius: 7px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    /* Hiding animation when task is deleted (completed). It is unpaused by event listerner */
    /* animation-name: hide;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-play-state: paused; */
}

.delete {
    float: right;
    margin-top: 35px;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    font-size: 13px;
    text-align: center;
    border-color: rgba(0,0,0,0.06);
    border-radius: 7px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

#control {
    margin: 50px;
}

#input {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 60%;
    height: 50px;
    font-size: 20px;
    text-align: center;
    border-radius: 7px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

input[type=text]:focus {
    outline-color: rgba(0,0,0,0.06);
}

#submit {
    display: block;
    margin: auto;
    width: 15%;
    height: 100px;
    font-size: 25px;
    text-align: center;
    border-radius: 7px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}